@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* { /*Aplicando a configuração para toda a página*/
    margin: 0px;
    padding: 0px;
}

:root {  /* Variaveis em CSS -- */
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao); /* Chamanda a variavel que criei la em cima */
}

a.externo::after {
    content: '\00A0\🔗';  /*  \00A0\ É PARA DAR UM ESPAÇO ANTES OU DEPOIS DO EMOJI */
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); /* Chamanda a variavel que criei la em cima */
    min-height: 150px;
    padding-top: 30px;
    text-align: center;
}

header > h1 {
    text-shadow: 5px 5px 5px #0000006e;
    font-weight: normal;
    color: white;
    font-family: var(--fonte-destaque); /* Chamanda a variavel que criei la em cima */
    font-size: 3em;
    margin-bottom: 20px;
}

header > p { /* paragrafo que esta ligado diretamente ao header*/
    text-shadow: 5px 5px 5px #0000006e;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
}

nav {
    background-color: var(--cor5); /* Chamanda a variavel que criei la em cima */
    padding: 10px;
    box-shadow: 5px 5px 5px #0000008a;
}

nav > a {
    font-weight: bold;
    color: var(--cor1);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main {
    min-width: 300px;  /* Tela entre 300 e 1000px, vai se adaptar conforme tamanho da tela*/
    max-width: 1000px; /* Limite do main vai ser 1000px*/
    margin: auto;  /* para o main ficar no centro automaticamente em qualquer tela.*/
    margin-bottom: 25px; /* margin inferior */
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px #000000a1;
    border-bottom-left-radius: 10px;  /* borde inferior esquerda (canto esquerdo) */
    border-bottom-right-radius: 10px; /* borde inferior direito (canto direito) */
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;  /* distancia no começo do paragrafo */
    line-height: 2em; /* altura entre as linhas do paragrafo */
    font-size: 1em;
}

main h1 {
    color: var(--cor5);  /* Chamando variavel criada la em cima*/
    font-family: var(--fonte-android); /* Chamando variavel criada la em cima*/
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    color: var(--cor4);
    font-weight: normal;
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

main img {
    width: 100%; /*Para que em qualquer tamanho, a imagem tenha sua largura total sem cortar*/
}

main img.pequena { /* imagem com class */
    max-width: 350px;  /* limitando a 350px a imagem (ela tem 400px) */
    display: block; /* para a tag img se tornar um bloco e "aceitar" o margin auto*/
    margin: auto;
}

.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #00000079;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714'; /* para colocar um emoji no lugar do tipo de marcador da lista, tambem poderia copiar o emoji e colocar entre aspas '✔️' */
    list-style-position: inside; /* para colocar as bolinhas da lista para dentro do bloco */
    columns: 2;  /* para dividir as colunas em 2 */
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}